table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  min-width: 100px;
  height: 25px;
  padding: 3px;
}

thead {
  background-color: #E91E63;
}

tfoot {
  background-color: #F06292;
}

.current-cell {
  background-color: #FCE4EC;
}

#formula-bar {
  margin: 5px 0px 10px 0px;
  padding: 5px;
  width: 300px;
}

input[type="button"] {
  margin: 0px 0px 10px 0px;
  width: 149px;
}

input:focus {
  outline: none;
  border-color: #F48FB1;
  box-shadow: 0 0 8px #F48FB1;
  background-color: white;
}